.container
    h1= `Server Error`
    h2= `Error status code ${err.status} - Server Error`
    p.error-p= `Error Message: ${err.message}`

    a.home(href=`/`) Home 

    .not-found-stack    
        pre ${err.stack}